@import 'utils';
@import 'fonts';
@import 'typography';

body {
  background: $c-gray;
}

.tree ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: disc;
}

.tree ul ul {
  list-style-type: circle;
}

.tree ul ul ul {
  list-style-type: square;
}

.tree li {
  font-size: 18px;
  font-family: 'Times New Roman', serif;
  margin: 4px 0;
}

.tree > ul > li {
  font-weight: bold;
}
