/* Error: The target selector was not found.
 * Use "@extend %h1 !optional" to avoid this error.
 *   ,
 * 2 |   @extend %h1;
 *   |   ^^^^^^^^^^^
 *   '
 *   src\styles\_typography.scss 2:3  root stylesheet */

body::before {
  font-family:
    'Source Code Pro', 'SF Mono', Monaco, Inconsolata, 'Fira Mono',
    'Droid Sans Mono', monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %h1 !optional" to avoid this error.\a   \2577 \a 2 \2502    @extend %h1;\a   \2502    ^^^^^^^^^^^\a   \2575 \a   src\\styles\\_typography.scss 2:3  root stylesheet';
}
